* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.container.flex-columns2 {
    max-width: 900px;
    min-height: 900px;
    margin: 0 auto;
    padding: 10px;
}

.container.flex-columns {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

/* box */

.box {
    max-height: 700px;
    min-width: 273px;
    padding: 5px;
    border-radius: 20px;
    line-height: 1.5;
    text-align: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container.flex-columns .box {
    display: inline-block;
}

.container.flex-columns .box:first-child {
    text-align: left;
}

.container.flex-columns .box:last-child {
    text-align: right;
}

button {
    min-width: 202px;
    min-height: 56px;
    border-radius: 10px;
}

/* Color */

.violet {
    background-color: rgb(101, 0, 255);

}

/* flex */

.flex-columns2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;

}

.flex-columns2 .box {
    flex: 0 0 calc((100% - 40px) / 3);
}

.flex-columns {
    display: flex;
    gap: 20px;
}

.flex-columns .box {
    flex-direction: row;
}


ul {
    list-style-type: none;
}





/* debug */
.debug .container {
    border: 2px solid red;
}

.debug .box {
    border: 2px solid blue;
}

.debug {
    background-color: rgb(255, 255, 255);
}