* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}



.container.flex-columns2 {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.container.flex-columns {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

/* box */

.box {
    
    min-width: 300px;
    padding: 5px;
    border-radius: 20px;
    line-height: 1.5;
    text-align: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    

}

.container.flex-columns .box {
    display: inline-block;
    box-shadow: initial;
}

.container.flex-columns .box:first-child {
    text-align: left;
}

.container.flex-columns p {
    font-size: 11px;
    color: #797474;
}

.container.flex-columns .box:last-child {
    text-align: right;
}

.container.flex-columns2 .box h2 {
    font-size: 30px;
    font-size: 30px;
    margin-left: 10px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: -50px;
}

.container.flex-columns2 .valore {
    text-align: left;
    padding-left: 30px;
    

}

button {
    width: 215px;
    height: 58px;
    border-radius: 18px;
    color: rgb(101, 0, 255);
    margin: 0 auto;
    border: none;
    font-weight: bold;

}

/* Color */

.violet {
    background-color: rgb(101, 0, 255);
    color: white;

}

/* flex */

.flex-columns2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: stretch;


}

.flex-columns2 .box {
    flex: 1 0 calc((100% - 40px) / 3);
}

.flex-columns {
    display: flex;
    gap: 30px;
}

.flex-columns .box {
    flex-direction: row;
    flex-grow: 1;
}

.container.flex-columns2 .box {
    font-size: 14px;
    text-align: center;
    line-height: 3.5;
}


.violet span {
    color: rgb(0, 0, 0);
}

.violet p {
    color: rgb(255, 255, 255);
}

.violet .category {
    color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    text-align: left;
    margin-bottom: 30px;
    padding-left: 56px;
}

strong {
    font-size: 46px;
}


.special-offers {
    margin-top: -30px;
}

.container.flex-columns2 .box span {
    background-color: rgb(186, 184, 184);
    border-radius: 10px;
    padding: 4px;
}

/* media query */

@media (max-width: 401px) {
    .container.flex-columns2 {
        flex-direction: column;
    }

    .box:nth-child(2) {
        order: -1;
    }

    .container.flex-columns {
        flex-direction: column-reverse;

    }

    .container.flex-columns .box:last-child {
        text-align: -webkit-center;
    }
}





/* debug */
.debug .container {
    border: 2px solid red;
}

.debug .box {
    border: 2px solid blue;
}

.debug {
    background-color: rgb(255, 255, 255);
}
